html, body {
    min-height: 100vh;
}

body {
    background-color: #f8f8f8;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 900px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.add-task-block {
    background-color: #e2e9fd;
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px 0;
}

#form {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
}

.form-input {
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #eee;
    transition: .3s border-color;
    width: 95%;
    height: 34px;
    font-size: inherit;
}

.form-input:hover {
    border: 1px solid #aaa;
}

.form-input:focus {
    outline: none !important
}

.list-block {
    margin: 20px 0;
    background-color: #e2e9fd;
    padding: 20px;
    border-radius: 10px;
}

.list-group {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 10px 0;
}

.list-group-item:last-child {
    margin: 0;
}

.list-group-item:hover {
    background-color: #f5f4f4;
}

.task-title {
    max-width: 90%;
    font-weight: 400;
    padding-top: 5px;
    overflow: hidden;
}

.task-title--done {
    text-decoration: line-through;
    color: #ababab;
}

.task-item__buttons {
    display: flex;
    column-gap: 5px;
}


.empty-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.empty-list__title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    z-index: 1;
}

.btn span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: btn_ripples 0.6s linear infinite;
}

@keyframes btn_ripples {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}

.btn:hover {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
    background-color: #297be6;
}

.btn:active {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 2px 6px 2px rgb(26 115 232 / 30%);
    background-color: #1a73e8 !important;
}

.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.btn-action {
    background-color: #f1f6fc;
    padding: 6px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
    pointer-events: none;
}

.none {
    display: none !important;
}

.float-right {
    float: right;
}

@media (min-width: 701px) {
    .subtitle {
        font-size: 22px;
    }
}